.panorama-wrapper {
  position: relative;
  background-color: #000000;
  z-index: 88;
}

.panorama-wrapper.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 99999;
}

.panorama-control {
  bottom: 0;
  left: 10px;
  position: absolute;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 0 10px;
}

.panorama-control--wrapper {
  display: flex;
  align-items: center;
}

.panorama-control--btn {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: #ffffff;
}

.panorama-control--btn:disabled {
  opacity: 0.3;
  cursor: default;
}

.panorama-control--btn__icon {
  font-size: 20px;
}

.panorama-wrapper.fullscreen .panorama-control--btn {
  width: 40px;
  height: 40px;
}

.panorama-wrapper.fullscreen .panorama-control--btn__icon {
  font-size: 25px;
}

.panorama-radar {
  position: absolute;
  top: calc(50% - 14px);
  right: 8px;
  z-index: 99;
  height: 35px;
  width: 35px;
  background-color: #000000;
  border-radius: 100%;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.panorama-radar i:first-of-type {
  display: block;
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 100%;
  position: relative;
}

.panorama-radar i:first-of-type::after {
  content: "";
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  top: -5px;
  left: calc(50% - 6px);
}

.panorama-wrapper.fullscreen .panorama-radar i:first-of-type::after {
  border-bottom: 12px solid #ffffff;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: absolute;
  top: -7px;
  left: calc(50% - 12px);
}

.panorama-radar i:first-of-type::before {
  content: "";
  width: 27px;
  height: 13px;
  background-color: #000000;
  position: absolute;
  opacity: 0.5;
  bottom: -3px;
  left: -4px;
}

.panorama-wrapper.fullscreen .panorama-radar {
  width: 55px;
  height: 55px;
}

.panorama-wrapper.fullscreen .panorama-radar i:first-of-type {
  width: 44px;
  height: 44px;
}

.panorama-wrapper.fullscreen .panorama-radar i:first-of-type::before {
  width: 50px;
  height: 24px;
}

.panorama-radar i:last-of-type {
  width: 21px;
  height: 21px;
  background-color: #000000;
  border-radius: 100%;
  position: absolute;
  overflow: hidden;
  border: 1px solid;
}

.panorama-wrapper.fullscreen .panorama-radar i:last-of-type {
  width: 40px;
  height: 40px;
}

.panorama-radar i:last-of-type::after {
  content: "";
  border-top: 19px solid #ffffff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  top: 0;
  left: calc(50% - 5px);
  z-index: 3;
}

.panorama-wrapper.fullscreen .panorama-radar i:last-of-type::after {
  border-top: 19px solid #ffffff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  left: calc(50% - 15px);
}

.panorama-radar i:last-of-type::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  top: calc(50% - 3.5px);
  left: calc(50% - 4px);
  border: 2px solid #000000;
  z-index: 4;
}
