.photoWrapper {
  position: relative;
  background-color: #ebebeb;
}
.fullscreen {
  width: 100vw !important;
  height: 100vh !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

.controlsWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
}

.btnControl {
  font-size: 35px;
  font-weight: bold;
  padding: 2px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #999;
  border-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}
